<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    <div class="twitterFeed">
        <a class="twitter-timeline" data-width="250" data-height="800" href="https://twitter.com/ykwilpodcast">Tweets by ykwilpodcast</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
